<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.ExtentReportListener" />

	</listeners>
	<test name="APITest">

		<classes>


			<class name="test.APITest">
				<parameter name="id" value="8" />
				<parameter name="firstname" value="Michael" />
				<parameter name="lastname" value="Lawson" />
				<parameter name="employeename" value="shiv" />
				<parameter name="jobtitle" value="DAM" />
				<methods> 
					<include name="CreateEmployeeTest"></include>
					<include name="VerifyEmpolyeeDetailsTest"></include> 
				</methods>
			</class>

		</classes>
	</test>
</suite> <!-- Suite -->
